<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
    <ion-button slot="end" (click)="addSurah()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of result">
      <ion-icon slot="start"></ion-icon>
      <p (click)="showSingleItem(item)" >{{item.student_id}} - {{item.name}} - {{item.email}}</p>
    </ion-item>
  </ion-list>
</ion-content>
